@page "/documents"
@if (values == null)
{
    <p>Loading ...</p>
}
else
{
<MudGrid>
    @foreach (var s in values)
    {
    <MudItem xs="12" sm="6" lg="3">
        <MudTooltip Text="@(s.Комментарий)">
            <MudLink Href="@($"document?id={s.Идентификатор.ToLower()}")">@(string.IsNullOrWhiteSpace(s.Синоним)?s.Идентификатор:s.Синоним)</MudLink>
         </MudTooltip>
    </MudItem>
    }
</MudGrid>
}
