@page "/"
<p>
    Состояние службы 1C7.7:
    @if (service1C77.State.IsDoStarted)
    {
        <span>запуск ...</span>
        <MudProgressCircular Size="Size.Small" Color="Color.Default" Indeterminate="true" />
    }
    else
    {
        @if (service1C77.State.IsWorked)
        {
            <span> Запущена : @TimeSpan.FromMilliseconds(service1C77.State.TimeWorked).ToString(@"d\.hh\:mm\:ss")</span>
        }
        else
        {
            <span> Остановлена </span>
        }
    }
    </p>

<MudButton Variant="Variant.Outlined" Disabled="@(!service1C77.CanDoStart)" OnClick="service1C77.Start">Старт</MudButton>
<MudButton Variant="Variant.Outlined" Disabled="@(!service1C77.CanDoStop)" OnClick="service1C77.Stop">Стор</MudButton>   
