@if (isPeriodic)
{
<MudExpansionPanel Class="attribute-periodic" Text="@stringValue">
    @foreach(var v in periodicValues)
    {
        <div>
            @v.Date.ToShortDateString() @v.Value
        </div>
    }
</MudExpansionPanel>
}
else
{
    <span>@stringValue</span>
}



